
<div class="row">
    <div ng-repeat="permission in permissionList">
        <div  class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label> #{{permission.id}} : </label><span> {{permission.leabel}} </span>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" 
                                ng-style="(permission.isSelected==level['admin']?{'background-color':'lightblue'}:{})" 
                                ng-click="permission.isSelected=level['admin']">可編輯</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" 
                                ng-style="(permission.isSelected==level['read']?{'background-color':'lightblue'}:{})" 
                                ng-click="permission.isSelected=level['read']">可瀏覽</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" 
                            ng-disabled="permission.isSelected==level['none']" 
                            ng-click="permission.isSelected=level['none']">沒有權限</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<sb-alert instance="alert"></sb-alert>