
<form class="form-horizontal page" id="page-wrapper">

    <div class="row">
        <div class="col-sm-12">            
            <h1 class="page-header text-center">修改自己密碼</h1>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:5px">
        <alert  ng-repeat="message in messages" ng-show="{{message.show}}" type="{{message.type}}" close="closeAlert($index)">{{message.msg}}</alert>
    </div>

    <div class=" form-group" >

        <label class="col-sm-2 col-sm-offset-3 control-label ">輸入舊密碼</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="form.password">
        </div>
    
    </div>

    <div class=" form-group">

        <label class="col-sm-2 col-sm-offset-3 control-label">輸入新密碼</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="form.newpasswordFirst">
        </div>

    </div>

    <div class=" form-group">

        <label class="col-sm-2 col-sm-offset-3 control-label">重複輸入新密碼</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="form.newpasswordSecond">
        </div>

    </div>

    <div class=" form-group">

        <div class="col-sm-4 col-sm-offset-3 control-label">
            <button class="btn btn-default" ng-click="modifyUserPassword()">儲存</button>
        </div>

    </div>

</form>
