

<form class="form-horizontal page" id="page-wrapper" >

    <div class="row">
        <div class="col-sm-12">
        	<strong>
            	<h2 class="page-header" style="font-family:微軟正黑體; font-weight:800">使用者設定</h2>
            </strong>
        </div>
    </div>

    <!-- base info -->
    <div class="row">   	
		<div class="col-md-12">
			<div class="panel panel-default">
	            <div class="panel-heading">
	                基本資料
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	        		<div class="col-md-6">
	                    <div class="form-group">
	                        <label>群組</label>
	                        <select class="form-control" ng-options="group as group.name for group in groups " ng-model="item" ng-change="groupChanged(item)" ng-disabled="selectDisabled"></select>	                     
	                    </div>
	                    <!-- </form> -->
	        		</div>
	        		<div class="col-md-6">
	        			<!-- something else input -->        			
	        		</div>            	
	            </div>
	            <!-- /.panel-body -->
	        </div>	      
		</div>	
	</div>
	<!-- base info /-->    

    <!-- Permission items -->
    <div class="row">    

    	<div class="col-md-12">
        	<strong>
            	<h3 class="page-header" style="font-family:微軟正黑體; font-weight:700">個人特殊授權</h3>            	
            </strong>
            <div class="alert alert-info alert-dismissable"　style="font-family:微軟正黑體; font-weight:500; font-size:18px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            	授權給該使用者的特殊權限。此權限<b>不會因為群組的變動影響</b>。只能由最高管理者取消或賦予。
			</div>            
        </div>

        <div class="col-md-12">
    		<permission-list instance="permissionList"></permission-list>
    	</div>
    	
    </div>
    <!-- Permission items /-->

    <!-- create button group -->
    <div class="row" style="padding-bottom: 20px">
    	<div class="col-md-12">
			<div class="btn-group " role="group" aria-label="...">
			  <div class="btn-group" role="group">
			    <input type="button" ng-click="update()" class="btn btn-primary" value="存檔"></input>
			  </div>
			  <div class="btn-group" role="group">
			    <button ng-click="cancel()" type="button" class="btn btn-default">取消</button>
			  </div>
			</div>
		</div>    
    </div>
    <!-- create button group /-->

</form>


<sb-alert instance="alert"></sb-alert>