<div id="page-wrapper">
	<div class="panel panel-default">
        <div class="panel-heading">
            選單一
        </div>
        <div class="panel-body">            	            
    		<category-tag-form instance="categoryTagOne"></category-tag-form>
    	</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            選單二
        </div>
        <div class="panel-body">            	            
    		<category-tag-form instance="categoryTagTwo"></category-tag-form>
    	</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            選單三
        </div>
        <div class="panel-body">                            
            <category-tag-form instance="categoryTagThree"></category-tag-form>
        </div>
    </div>
</div>