

<div id="page-wrapper">
    
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Demo Wholesale Product Group List Directive</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-lg-6">
            <div class="panel-heading">
                <font size="5">Selected Product Group</font>
            </div>
            <div class="panel-body">
                <sb-smart-table instance="table"></sb-smart-table>
            </div>
        </div>
        <div class="panel panel-default col-lg-6">
            <div class="panel-heading">
                <font size="5">Product Group List</font>
            </div>
            <div class="panel-body">
                <wholesale-product-group-list instance="list"></wholesale-product-group-list>
            </div>
        </div>    
    </div>
    
</div>

