

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href="#!/shoppingguide"><h5 class="align">購物說明</h5></a>
                <a href="#!/howorder"><h5 class="align">訂購問題</h5></a>
                <a href="#!/aftermarket"><h5 class="on-title">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>售後問題</h5>
                </a>
                <a href="#!/orderproblem"><h5 class="align">會員問題</h5></a>
                <a href="#!/otherproblem"><h5 class="align">其他問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            </div>
            <div class="col-md-12 deletepad">
                <div class="about-body">
                    <p>依照消費者保護法規定，收到商品7天內，若對於商品有任何疑慮或瑕疵，可辦理退貨。您所退回的商品必須是全新的狀態(保持商品完整性)。符合退貨的條件如下所示：
                    (1) 處理程序之錯誤導致誤寄，寄貨與訂購單不合。
                    (2) 單一產品包裝內之配件不齊。
                    (3) 商品有明顯瑕疵或已損壞。
                    <br>
                    (4) 顧客於審閱期之內不滿意該項商品，或不符合需求等因素。
                    請注意！如果是以下情況，恕我們無法接受退貨：
                    (1)收到貨品超過７日以上。
                    (2)紅利金全額兌換之商品。
                    (3)各項行銷活動之贈品。
                    (4)違反商品裝箱明細退換貨須知。(如已拆封美容保養產品、個人衛生用品..)</p>
                    <br>
                    <h4>Ｑ1.我收到的商品不喜歡可以退貨嗎?</h4>
                    <p>• 全站購物皆可享有商品到貨 七天猶豫期 之權益，如需退貨請至 [我的訂單]  申請。
                    • 完成退訂申請後，我們會盡快派宅配人員前往取件。
                    • 待商品收回並驗收無誤後，將進行退款，並於退款日當天發送E-mail通知您。</p>
                    <br>
                    <h4>Ｑ2.如果我所收到的貨品有瑕疵、顏色或尺寸不合該如何是好？</h4>
                    <p>您所購買的商品於商品收到後都可享有 7天滿意鑑賞期。若您收到的商品出現瑕疵，請您於鑑賞期內，於本店頁面下方的[聯絡天GO] 或 訂單查詢問的[詣問客服] 留言寫明原因，我們將儘速為您辦理退、換貨事宜。</p>
                    <br>
                    <h4>Ｑ3.我要何時能收到退款？</h4>
                    <p>若您使用「信用卡退款」，本公司在確認商品驗退無誤後，將與您的發卡銀行申請退款處理。
                    若您是以付現、劃撥或轉帳等方式消費，請您來電申請退貨的同時，留下您個人金融帳戶資料，我們將退款匯入您的銀行或郵局帳戶。</p>
                    <br>
                    <h4>Q4.請問退款的方式有哪些？</h4>
                    <p>若付款方式為信用卡，我們會將款項直接刷退至原付款的信用卡帳戶。
                    若付款方式為離線付款方式(包含WebATM轉帳付款、ATM轉帳付款、便利超商門市付款)，須請您提供銀行、分行名稱、帳號及戶名等相關資料，供我們以轉帳方式退款至您的個人帳戶。
                    當退款完成時，系統會發送【退款完成通知信】通知您。</p>
                </div>
            </div>
        </div>
    </div>