<div class="container">
	<div class="row visible-md visible-lg">
        <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
            <p class="col-md-6" style="padding-left: 0px;">
                HOME <img src="/images/arrow.png"> 會員中心/修改密碼
            </p>
        </div>              
    </div>
    <div class="row person-top-background visible-xs visible-sm">
        <div class="col-xs-6">
                會員中心/修改密碼
        </div>
        <div class="col-xs-6 text-right">
            <a href="" ng-click="showLogout()" class="logout-text">
                登出
            </a>
        </div>
    </div>
    <div class="row person-background-margin">
        <div class="col-md-2">
            <member idname="'changepassword'" class="visible-lg visible-md"></member>
        </div>
        
        <div class="col-md-10">
            <div class="form-group col-md-12 col-xs-12">
                <label class="col-md-3 col-xs-5 control-label del-pad">使用者信箱</label>
                <div class="col-md-7 col-xs-7 del-pad">{{oauth.email}}</div>
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <label class="col-md-3 col-xs-5 control-label del-pad" style="margin-top: 7px;">舊密碼</label>
                <div class="col-md-7 col-xs-7 del-pad">
                    <input type="password" class="form-control" ng-model="password">
                </div>
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <label class="col-md-3 col-xs-5 control-label del-pad" style="margin-top: 7px;">新密碼</label>
                <div class="col-md-7 col-xs-7 del-pad">
                    <input type="password" class="form-control" ng-model="newpassword">
                </div>
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <label class="col-md-3 col-xs-5 control-label del-pad" style="margin-top: 7px;">再次確認您的密碼</label>
                <div class="col-md-7 col-xs-7 del-pad">
                    <input type="password" class="form-control" ng-model="newpasswordTwo">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;margin-bottom: 30px;">
    	<button type="button" class="btn btn-default" ng-click="changePassword()">確認修改</button>
    </div>
</div>

