

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href=""><h4>關於天GO</h4></a>
                <br>
                <a href=""><h4>購物說明</h4></a>
                <a href=""><h5>會員常見問題</h5></a>
                <a href=""><h5>訂單常見問題</h5></a>
                <a href=""><h5>配送取貨問題</h5></a>
                <a href=""><h5>退換貨及退款問題</h5></a>
                <a href=""><h5>發票常見問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
                <h4>HOW TO BUY</h4>
            </div>
            <div class="col-md-12 deletepad">
                <div>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: #ddbbb9;"></span>配送取貨問題
                </div>
                <div class="about-body">
                    <p>[ 國內配送方式 ]</p>
                    <p>◎配送範圍:僅限台灣本島，為提供外島訂購服務，不便之處還請見諒。</p>
                    <p>◎目前提供的運送方式為「<img src="/images/post.jpg" style="width: 4%;"> 郵局寄送」、「<img src="/images/cat.png" style="width: 4%;"> 宅配寄送」等服務</p>
                    <p style="padding-left: 15px;">1.郵局掛號需2-3天(不包含例假日及國定假日)</p>
                    <p style="padding-left: 15px;">2.貨運宅配需1-2個工作天(不包含例假日及國定假日)</p>
                    <br>
                    <p>注意:</p>
                    <p>1.收件地址請勿填寫郵政信箱，為了保障確實配送到府的服務</p>
                    <p>2.若有台灣本島以外地區送貨需求，收貨人地址請填台灣本島親友的地址</p>
                </div>
                <div class="about-footer">
                    <a href=""><h5>國外配送方式</h5></a>
                    <a href=""><h5>配送方式所需時間表</h5></a>
                    <a href=""><h5>如何計算運費</h5></a>
                    <a href=""><h5>如何至門市取貨</h5></a>
                </div>
            </div>
        </div>
    </div>