<div style="background-color: #f0dcd5;">
    <div id="toppadding">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators home-carousel">
                <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" class="{{recome($index)}}" ng-repeat="homepage in homepages"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item {{recome($index)}}" ng-repeat="homepage in homepages">
                    <a href="{{homepage.imglink}}"><img src="{{homepagepPath}}{{homepage.filename}}" alt="..."></a>
                    <div class="carousel-caption"></div>

                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <sb-alert instance="alert"></sb-alert>
    <div style="background-color: #f0dcd5;">
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <promotion></promotion>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .carousel-indicators .active {
       background-color: black; 
    }
    .carousel-indicators li {
        border: 1px solid black;
    }
</style>