

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href="#!/shoppingguide"><h5 class="align">購物說明</h5></a>
                <a href="#!/howorder"><h5 class="on-title">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>訂購問題</h5>
                </a>
                <a href="#!/aftermarket"><h5 class="align">售後問題</h5></a>
                <a href="#!/orderproblem"><h5 class="align">會員問題</h5></a>
                <a href="#!/otherproblem"><h5 class="align">其他問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            </div>
            <div class="col-md-12 deletepad">
                <div class="about-body">
                    <h4>Q.如何購買商品</h4>
                    <p>【購買流程】 
                    選購商品 → 購物車 → 繼續購物 / 確認結帳 → 填寫會員資料﹝加入會員﹞ →
                    選擇付款方式 → 填寫與確認訂單訊息 → 結帳 → 等待到貨。</p>
                    <br>
                    <h4>Q.如何查詢我的訂單資料?</h4>
                    <p>想快速的查詢您的訂單狀況，可在網頁右上方點選【訂單】並【登入】會員後，，就可以看到包含所有最新和歷史訂單紀錄，點選前面的訂單編號，還能看到每筆訂單的詳細內容。</p>
                    <br>
                    <h4>Q.下單期限已超過7天了，為什麼還沒有收到商品呢？</h4>
                    <p>當您在「109Life 去購物」購買商品，並完成付款動作後，您將會在7天之內(限台灣本島)收到您購買的商品。如果超過7天您仍未收到商品，可能的情形如下：
                    *郵局或宅配寄送到您府上時，因無人在家，無法簽收，所以寄送未成功。
                    *因訂單資料有需要向您再次確認之處，客服人員聯絡不到訂購人，所以還無法寄送。
                    *因商品熱賣當下庫存量不足，客服人員須聯絡並告知訂購人，但無回應，所以尚未出貨。
                    *訂購時所留下的資料不正確，所以寄送無法成功，客服人員聯絡訂購人無回應，訂單可能無效處理。
                    所以當您有發生超過7天您仍未收到商品的情形，請您與客服人員聯絡，我們將儘速為您做處理。</p>
                    <br>
                    <h4>Q.我已經線上完成付款，請問我所訂購的商品約何時送達？</h4>
                    <p>當您完成付款後的7個工作天內(不含例假日)，即可收到您所訂購之商品。</p>
                    <br>
                    <h4>Q.商品是否可以配送到海外?</h4>
                    <p>目前商品配送只限台灣本島。商品將在完成付款後的7個工作天內(不含例假日)，配送到您手中。</p>
                    <br>
                    <h4>Q. 我要如何查詢配送進度？</h4>
                    <p>在網頁右上方點選【訂單】並【登入】會員後，即可查詢最新配送狀況。
                    您所看到的訂單狀態，有下列幾種分類，代表的意義不同：
                    未發貨-尚未出貨，出貨處理中，等待物流公司來取件。
                    已發貨(出貨)-表示您的訂單商品包裏已交由物流公司運送中。
                    已到貨-表示此訂購商品已配送到府，系統會自動開始計算7天鑑賞期。</p>
                    <br>
                    <h4>Q.我已經在網站上訂購了商品，但我想更改送貨地址或聯絡電話，請問如何更改?</h4>
                    <p>您可先在網頁右上角的【訂單】查詢您訂單目前最新的出貨狀況，可分為「未出貨」、「已出貨」二種：

                    一、若您的訂單顯示出貨狀態為「未出貨」，可與客服中心聯絡，告知我們的客服人員您需要變更收貨地址或聯絡電話的需求，我們將儘速為您處理。

                    二、若您的訂單顯示出貨狀態為「已出貨」，那表示我方已將您訂購的商品交由物流單位寄出，基本上應於原指定地收件，如真的需要更換件地，也請您留言告訴我們變更的收件資料給我們，以便我們急件聯絡物流單位更改配送地，此狀況會延長配送到府的時間哦！</p>
                </div>
            </div>
        </div>
    </div>