

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href=""><h4>關於天GO</h4></a>
                <br>
                <a href=""><h4>購物說明</h4></a>
                <a href=""><h5>會員常見問題</h5></a>
                <a href=""><h5>訂單常見問題</h5></a>
                <a href=""><h5>配送取貨問題</h5></a>
                <a href=""><h5>退換貨及退款問題</h5></a>
                <a href=""><h5>發票常見問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
                <h4>HOW TO BUY</h4>
            </div>
            <div class="col-md-12 deletepad">
                <div>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: #ddbbb9;"></span>會員常見問題
                </div>
                <div class="about-body">
                    <p>0 1 . 為了簡化流程，您不須先註冊會員就可以直接進行購物，將商品直接加入購物車。</p>
                    <p style="padding-left: 30px;">完成訂購並填寫個人資料後，系統將自動將您加為會員。</p>
                    <p style="padding-left: 30px;">＜凡加入會員即為永久會員喔!＞</p>
                    <p>0 2 . 會員成立後便可於109天GO帳號使用。</p>
                    <br>
                    <p>＊貼心提醒:請記得填寫正確的基本個人資料，以免影響往後之會員權益!</p>
                </div>
                <div class="about-footer">
                    <a href=""><h5>如何修改個人資料及密碼</h5></a>
                    <a href=""><h5>忘記密碼怎麼辦</h5></a>
                    <a href=""><h5>VIP的優惠與折扣</h5></a>
                </div>
            </div>
        </div>
    </div>

