

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href="#!/shoppingguide"><h5 class="align">購物說明</h5></a>
                <a href="#!/howorder"><h5 class="align">訂購問題</h5></a>
                <a href="#!/aftermarket"><h5 class="align">售後問題</h5></a>
                <a href="#!/orderproblem"><h5 class="on-title">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>會員問題</h5>
                </a>
                <a href="#!/otherproblem"><h5 class="align">其他問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            </div>
            <div class="col-md-12 deletepad">
                <div class="about-body">
                    <h4>Q.訂購需要先入會員嗎？</h4>
                    <p>為了簡化流程，您不需先註冊會員就可以直接進行購物，將商品直接加入購物車。
                    完成訂購並填寫個人資料後，系統將自動將為您加為會員，讓您輕輕享有天GO會員專屬的購物優惠及各項貼心服務！
                    <br>※貼心提醒：請記得填寫正確的基本個人資料，以免影響往後之會員權益！</p>
                    <br>
                    <h4>Q.如何修改個人資料及密碼</h4>
                    <p>１．請點選官網右上「登入/註冊」後。
                    ２．再點選「忘記密碼」 並輸入註冊會員的電子郵件即可。
                    <br>※貼心提醒：系統即會自動將密碼重設通知寄至您預設的Email信箱中，請您收取郵件並點擊內文中的連結進行密碼重設。</p>
                    <br>
                    <h4>Q.請問109Life 如何保障我個人資料的安全性？</h4>
                    <p>我們非常重視每位會員的隱私權，因此對於您的個人資料，我們均有嚴格的保密措施。並依據法律制定之隱私權政策，蒐集、管理及使用您的個人資料。相關說明請參閱我們的【隱私權保護】。所以請您安心的在「109Life去購物」購物、消費、和使用所有我們提供給您的服務。</p>
                    <br>
                    <h4>Q.忘記密碼怎麼辦？</h4>
                    <p>請您在網頁點選右上方的【登入】，在會員登入的右手邊有【忘記密碼】的圖示，輸入您的註冊帳號及註冊時的E-MAIL信箱，系統將會發送一組新密碼到您註冊的E-MAIL信箱，您即可使用新密碼重新登入，並建議您立即更新密碼，以確保帳號資料的安全。</p>
                </div>
            </div>
        </div>
    </div>