

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href="#!/shoppingguide"><h5 class="align">購物說明</h5></a>
                <a href="#!/howorder"><h5 class="align">訂購問題</h5></a>
                <a href="#!/aftermarket"><h5 class="align">售後問題</h5></a>
                <a href="#!/orderproblem"><h5 class="align">會員問題</h5></a>
                <a href="#!/otherproblem"><h5 class="on-title">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>其他問題</h5>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            </div>
            <div class="col-md-12 deletepad">
                <div class="about-body">
                    <h4>Q1.我的私人資料是否會外流?</h4>
                    <p>會員在「109Life」所留下的個人資料，為「109Life去購物」在舉辦活動、提供交易服務行為、或取得資訊的會員身份確認、及提供有關服務之用。會員應109Life天GO購物平台之要求而留存姓名、聯絡方式、身份辨別資訊等真實個人資料，非得到會員的同意，109Life天GO購物平台所蒐集的個人資料，不會揭露於第三人或用於上述目的以外之其他用途</p>
                    <br>
                    <h4>Q2.如果我用信用卡刷卡，信用卡資訊是否會外流?</h4>
                    <p>「109Life去購物」採用SSL128bits資料傳輸加密機制，確保您的信用卡資訊於交易過程中不會被盜取。SSL是網路資料安全傳輸協定，利用公開金鑰的加密技術(RSA)來做為用戶端與主機端在傳送機密資料時的加密通訊協定。目的在防止您的信用卡資料在網路上傳遞時被不肖的網路使用者從中盜取。</p>
                    <br>
                    <h4>Q3、如何與天GO客服聯絡？</h4>
                    <p>當您對訂單有訂購、付款、發票、運送、商品等疑問，在<購物說明>的Q&A若無法找到解答，請點選【聯絡天GO】，客服人員將在1-2個工作天內(不含週六日和例假日)，儘速與您聯繫，並回覆您處理結果。</p>
                </div>
            </div>
        </div>
    </div>