<div class="container">
	<div class="row person-top-background">
		<div class="col-xs-6">
				會員中心
		</div>
		<div class="col-xs-6 text-right">
			<a href="" ng-click="showLogout()" class="logout-text">登出</a>
		</div>
	</div>
	<div class="row person-list">
		<div class="col-xs-12 text-center person-border">
			<a href="#!/personalinformation">
				<h4>個人資料</h4>
			</a>
		</div>
		<div class="col-xs-12 text-center person-border">
			<a href="#!/changepassword">
				<h4>變更密碼</h4>
			</a>
		</div>
		<div class="col-xs-12 text-center person-border">
			<a href="#!/order">
				<h4>訂單查詢</h4>
			</a>
		</div>
		<!-- <div class="col-xs-12 text-center person-border">
			<a href="">
				<h4>退款進度</h4>
			</a>
		</div> -->
	</div>
	<div class="row" id="back-white"></div>
</div>
<sb-alert instance="logoutView"></sb-alert>
