

	

	<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> HOW TO BUY
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href=""><h4>關於天GO</h4></a>
                <br>
                <a href=""><h4>購物說明</h4></a>
                <a href=""><h5>會員常見問題</h5></a>
                <a href=""><h5>訂單常見問題</h5></a>
                <a href=""><h5>配送取貨問題</h5></a>
                <a href=""><h5>退換貨及退款問題</h5></a>
                <a href=""><h5>發票常見問題</h5></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
                <h4>HOW TO BUY</h4>
            </div>
            <div class="col-md-12 deletepad">
                <div>
                    <p style="color: gray;">購物流程說明</p>
                    <p>國內買家如何付款</p>
                </div>
                <div class="about-body">
                    <p>◎ATM轉帳付款</p>
                    <br>
                    <p>◎信用卡付款</p>
	                <br>    
                    <p>◎全家超商繳款不取貨</p>
                </div>
                <div class="about-footer">
                    <a href=""><h5>國外買家如何付款</h5></a>
                    <a href=""><h5>如何查詢訂單狀態</h5></a>
                    <a href=""><h5>訂單小提醒</h5></a>
                </div>
            </div>
        </div>
    </div>