

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
                <p class="col-md-6" style="padding-left: 0px;">
                    HOME <img src="/images/arrow.png"> ABOUT 109 LIFE
                </p>
            </div>              
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 ">
            <div class="product-left-list">
                <a href="#!/about"><h5 class="align">關於我們</h5>
                </a>
                <a href="#!/provision"><h5 class="align">服務條款</h5></a>
                <a href="#!/privacy"><h5 class="align">隱私權保護</h5></a>
                <a href="#!/safe"><h5 class="on-title">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>交易安全</h5>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 deletepad">
                <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            </div>
            <div class="col-md-12 deletepad">
                
                <div class="about-body">
                    <p>為保障您的隱私及資料安全，您在本網站交易時所提供的相關資料，會受到嚴密的保護，除為了完成交易交付商品或提供服務而必須提供相關資料予商品及服務提供者，或因政府執法機關要求之外，我們絕不會將您的個人資料及交易資料洩露至任何本網站以外的團體或其他第三者。</p>
                    <br>
                    <p>對於您的交易安全，我們提供以下保障：</p>
                    <br>
                    <h4>付款方式</h4>
                    <br>
                    <p>(一) 線上信用卡付款：</p>
                    <p>天GO網站全程使用SSL 128bits加密，卡號與相關資料皆直接送到收單銀行的主機，資料傳輸過程中完全加密處理，任何人（包括商店作業人員）皆無法看到您的信用卡資料，您可放心的在1天GO網站上購物。</p>
                    <br>
                    <p>(二) ATM轉帳付款：</p>
                    <p>天GO網站全程使用SSL 128bits加密，資料傳輸過程中完全加密處理，任何人（包括商店作業人員）皆無法看到您的信用卡資料，您可放心的在天GO網站上購物。</p>
                    <br>
                    <p>(三) WebATM轉帳付款：</p>
                    <p>天GO網站全程使用SSL 128bits加密，資料傳輸過程中完全加密處理，任何人（包括商店作業人員）皆無法看到您的信用卡資料，您可放心的在天GO網站上購物。</p>
                    <br>
                    <p>消費者個人隱私保密機制</p>
                    <p>天GO網站非常重視使用者隱私權的保護，當您將個人資料與網站分享的時候，我們知道您對這些資料保有必要的授權。因此對於如何保護您所提供的個人資料，您可從這裏瞭解到天GO網站的隱私權保護聲明。</p>
                    <br>
                    <p>顧客疑問聯繫</p>
                    <p>您對於在天GO網站使用上有任何建議或疑問，或對客服處理有任何爭議需申訴，均可透過「聯絡我們」寫信告訴我們，或以電話向客服單位申訴，客服中心將於詳細了解反應事項後，予以公正處理。</p>
                </div>
            </div>
        </div>
    </div>
