

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-left: 15px; padding-bottom: 15px;">
            <p class="col-md-6" style="padding-left: 0px;">
                HOME <img src="/images/arrow.png"> HOW TO BUY
            </p>
        </div>              
    </div>
</div>

<div class="container">
    <div class="col-md-3 ">
        <div class="product-left-list">
            <a href="#!/shoppingguide"><h5 class="on-title">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>購物說明</h5>
            </a>
            <a href="#!/howorder"><h5 class="align">訂購問題</h5></a>
            <a href="#!/aftermarket"><h5 class="align">售後問題</h5></a>
            <a href="#!/orderproblem"><h5 class="align">會員問題</h5></a>
            <a href="#!/otherproblem"><h5 class="align">其他問題</h5></a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-12 deletepad">
            <hr style=" margin: 0px;border: 1px solid #eceaeb;">
            <h4>購物須知</h4>
        </div>
        <div class="col-md-12 deletepad">
            <div class="about-body">
                <p>當您使用本天GO之服務時，即表示您同意以電子文件作為意思表示之方法。
                如本店無法接受您的訂單，將於收到您的訂單後二個工作日內通知您。但法令另有規定者除外。
                天GO將依照個人資料保護法令相關規定保護您的個人資料，並遵守商店隱私權保護政策。
                天GO將於知悉您的帳號密碼遭冒用時，立即停止該帳號所生交易之處理及後續利用。
                天GO確保與您交易之電腦系統具有符合一般可合理期待之安全性。</p>
                <br>
                <p>若您對與天GO之交易有任何問題，請透過「會員中心 > 訂單查詢」裡的「詢問客服」與天GO聯絡，我們將儘速為您解決。</p>
                <br>
                <h4>付款方式：</h4>
                <p>◎ATM轉帳付款</p>
                <p>◎信用卡付款</p>
                <p>◎全家超商繳款不取貨</p>
                <br>
                <h4>交貨方式：</h4>
                <p>◎配送範圍：僅限台灣本島，未提供外島訂購服務，不便之處還請見諒。</p>
                <p>◎目前提供的運送方式為「郵局寄送」、「宅配寄送」等服務。</p>
                <p>1.郵局掛號需2~3個工作天(不包含例假日及國定假日)</p>
                <p>2.貨運宅配需1~2個工作天(不包含例假日及國定假日)</p>
                <br>
                <h4>注意：</h4>
                <p>1.收件地址請勿填寫郵政信箱，為了保障確實配送到府的服務。</p>
                <p>2.若有台灣本島以外地區送貨需求，收貨人地址請填台灣本島親友的地址。</p>
                <br>
                <h4>退換貨說明：</h4>
                <p>凡在天GO所購買任一樣商品，均享有七天猶豫期之權益(含例假日)和退換貨保證，若您收到的新品本身有瑕疵、破損、規格不符或是組合商品有短缺的狀況，請您於收到貨後 7 天內，線上填寫退換貨單。</p>
                <br>
                <h4>下列是退換貨相關合理規範條款︰</h4>
                <p>※凡保養品及彩妝類均屬於消耗性產品，一經拆封使用後，恕不接受退貨、換貨、退款，除有瑕疵或破損除外。</p>
                <p>※只要非人為因素之損毀、刮傷、髒污、包裝破損不完整，您均享有退貨或換貨之權益。</p>
                <p>※退貨時，請將購物商品 (含商品本體、附件、內外包裝、贈品)一併退還 。</p>
                <br>
                <h4>【換貨說明】</h4>
                <p>若商品有瑕疵或損壞，需要辦理換貨，請於到貨後7天內登錄「訂單」頁面申請「換貨」，我們將盡速為您處理。</p>
                <br>
                <h4>【退換貨方式】</h4>
                <p>欲辦理退貨或換貨的客戶請於「訂單」中點選「我要退貨」或「我要換貨」選項，並填寫退、換貨原因、姓名及聯絡電話。</p>
                <br>
                <h4>【不接受退貨因素】</h4>
                <p>若商品因消費者不當使用拆卸產生人為因素造成故障、損毀、磨損、擦傷、刮傷、髒污、包裝破損不完整者(包含已使用或已拆封)，或附配件不齊者，恕不接受退貨。</p>
            </div>
        </div>
    </div>
</div>