<div class="modal fade" id="{{id}}-Modal" tabindex="-1" role="dialog" aria-labelledby="{{id}}-ModalLabel">
    <div class="modal-dialog modal-dialog-max" role="document" ng-style="widthStyle">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{id}}-ModalLabel">{{title}}</h4>
            </div> -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div compile="htmlMessage"></div>
                <div ng-app="">
                    <div class="row">
                        <div class="top-sign-in" ng-hide="startRegisterModel">
                            <h3>登入</h3>
                        </div>
                        <div class="text-center" style="font-size: 18px;" ng-hide="startRegisterModel">
                            登入109life天GO會員即可快速結帳
                        </div>
                        <div class="top-sign-in" ng-show="startRegisterModel">
                            <h3>加入會員</h3>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-6" style="border-right:#b2afb0 3px solid;" ng-model="login" ng-show="startLoginModel">
                            <form role="form">
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert" ng-show="showMessage">{{message}} {{count}}</div>
                                </div>
                                <div class="form-group" style="width: 70%;margin: 20px auto">
                                    <input class="form-control" placeholder="會員帳號/ mail帳號" ng-model="email" type="text">
                                </div>
                                <div class="form-group" style="width: 70%;margin: 20px auto">
                                    <input class="form-control" placeholder="會員密碼" ng-model="password" type="password">
                                </div>
                                <div class="checkbox">
                                    <div class="col-md-6" style="text-align: center;">
                                        <input type="checkbox" ng-model="remember">記住帳號
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6 button-sign-in" ng-click="userLogin()">
                                        <h5>登入</h5>
                                    </div>
                                    <span class="col-md-3 login-padding-f">
                                        <a href="" ng-click="startRegister()" ng-style="registerStyle">註冊新帳號</a>
                                    </span>
                                    <span class="col-md-3 login-padding-s">
                                        <a href="" ng-click="startForget()">忘記密碼</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6" style="border-right:#b2afb0 3px solid;" ng-model="forget" ng-show="startForgetModel">
                            <form role="form">                
                                <div class="form-group">
                                    <label>請輸入信箱</label>
                                    <input type="email" class="form-control" placeholder="mail" ng-model="forgetMail">
                                </div>                            
                                <div>
                                    <div class="col-md-6 button-sign-in">
                                        <h5 ng-click="getNewPassword()">確認送出</h5>
                                    </div>
                                    <div class="col-md-6 button-sign-in" id="return">
                                        <h5 ng-click="returnForget()">返回</h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12" ng-model="register" ng-show="startRegisterModel">
                            <form role="form">
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert" ng-show="showMessage">{{message}} {{count}}</div>
                                    <div class="alert alert-success" role="alert" ng-show="mailSuccess">信箱可以使用</div>
                                    <div class="alert alert-danger" role="alert" ng-show="mailFail">信箱已被註冊</div>
                                    <div class="alert alert-danger" role="alert" ng-show="mailNull">未輸入信箱</div>
                                </div>
                                <div class="form-group user-form">
                                    <label><span class="red">*</span>請輸入姓名</label>
                                    <input type="text" class="form-control" placeholder="name" ng-model="register.name">
                                </div>
                                <div class="form-group user-form">
                                    <label><span class="red">*</span>請輸入信箱(預設為帳號)</label>
                                    <input type="email" class="form-control" placeholder="mail" id="mailCheck" ng-model="register.email">
                                </div>
                                <div class="form-group user-form">
                                    <label><span class="red">*</span>請輸入密碼</label>
                                    <input type="password" class="form-control" placeholder="password" ng-model="register.password">
                                </div>
                                <div class="form-group user-form">
                                    <label><span class="red">*</span>請再次輸入密碼</label>
                                    <input type="password" class="form-control" placeholder="password" ng-model="register.checkPassword">
                                </div>
                                <div class="form-group user-form">
                                    <label>手機號碼</label>
                                    <input type="text" class="form-control" placeholder="phone" ng-model="register.phone">
                                </div>
                                <div class="form-group user-form">
                                    <label>
                                        <input type="checkbox" ng-model="agreeRegister">我已經閱讀並同意<a ng-click="startContents()">會員服務</a>條款內容
                                    </label>
                                </div>
                                <div>
                                    <div class="col-md-6 button-sign-in">
                                        <h5 ng-click="userRegister()">立即註冊</h5>
                                    </div>
                                    <div class="col-md-6 button-sign-in" id="return">
                                        <h5 ng-click="returnRegister()">返回</h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12" style="border-right:#b2afb0 3px solid;" ng-show="startUserContentsModel">
                            <div class="col-md-12 button-sign-in">
                                <h5 ng-click="returnContents()">返回</h5>
                            </div>
                            <div class="col-md-12">
                                <h4>會員服務使用條款</h4>
                                <h5>本網站是「瑞良實業有限公司」（以下統稱為「本公司」）經營之天GO網站，我們提供您一個「放心」購物環境的購物網站，我們對於會員用戶的隱私權非常重視，對於您的個人資料，均有嚴格的保密措施，也制訂了隱私權保護政策，包含我們所蒐集及使用您的個人資料時均將依此聲明管理。</h5>
                                <h5>本同意書之目的，乃在於盡能保護會員在使用本網站服務時的權益，同時確認本公司、商品供應商與會員之間的權利義務關係。</h5> 

                                <h4>會員服務使用條款</h4>

                                <h5>第一條</h5>
                                <h5>在您申請成為本網站會員之前，請您詳閱會員規章，本規章明訂會員與本網站之間權利與義務關係，在您同意本規章後，方可成為本網站會員。</h5> 

                                <h5>第二條</h5> 
                                <h5>本網站所提供之會員電子服務皆為免費，服務的所有權和運作權歸本網站，本網站有權修改服務項目或於任何時間停止各項服務。</h5> 

                                <h5>第三條</h5> 
                                <h5>用戶隱私制度尊重用戶個人隱私是本網站的一項基本政策。所以，對於註冊會員資料本網站一定不會在未經會員合法授權時公開、編輯或透露其註冊資料及保存在本網站中的非公開內容，除非有法律許可要求。</h5> 

                                <h5>第四條</h5>
                                <h5>會員的帳號，密碼和安全性 會員可隨時要求退出本網站之會員。會員一旦註冊成功，成為本網站的合法會員，將得到一個密碼和會員名稱。會員將對會員名稱和密碼安全負全部責任。另外，每個用戶都要對以其會員名進行的所有活動和事件負全責。您可隨時根據指示改變您的密碼。會員若發現任何非法使用會員帳號或存在安全漏洞的情況，請立即通告本網站。若因會員自行洩露帳號及密碼而造成會員損失及法律責任者，本網站不負連帶責任。</h5> 

                                <h5>第五條</h5>
                                <h5>電子信件本網站會不定期發送本網站電子報，提供會員相關技術、產品等訊息，但絕對保證會員之電子信箱不外流，避免會員受到不必要之干擾。</h5> 

                                <h5>第六條</h5>
                                <h5>本網站保留修訂本規章內容之權利與服務，如有更新事項將於網站上公布訊息，自公布日起1個月內可提出異議，若無回應本網站者，本網站視同該會員同意本網站規章之更動。</h5>

                                <h5>第七條</h5>
                                <h5>本網站僅接受同一人之單筆資料，也就是說，您只能建立一次您的個人資料，請勿重覆登錄。</h5>

                                <h5>第八條</h5> 
                                <h5>會員不得以任何方式破壞及干擾本網站上各項資料與功能，且嚴禁入侵或破壞網路上任何系統之企圖或行為。</h5>

                                <h5>第九條</h5> 
                                <h5>會員同意其訂購行為，以本網站所示之電子交易資料為準，如有糾紛，並以該電子交易資料為認定標準。</h5>

                                <h5>第十條</h5> 
                                <h5>法律會員服務條款要與中華民國的法律解釋相一致，會員和本網站一致同意服從高等法院所有管轄。如發生本網站服務條款與中華民國法律相牴觸時，則這些條款將完全按法律規定重新解釋，而其它條款則依舊保持對會員產生法律效力和影響。</h5> 

                                <h5>第十一條</h5> 
                                <h5>在本網站中各項商品交易，以中華民國法律為準據法，如有糾紛發生時，以台北地方法院為第一審管轄法院。</h5>

                                <h5>第十二條</h5>
                                <h5>會員除應遵守本約定書外，亦同意遵守本網站各項交易規定。</h5>

                                <h5>第十三條</h5> 
                                <h5>一但被取消會員資格，將喪失所有會員權利，包含之前所有的會員福利。 本約定書之內容如有調整時，會員同意遵守調整後之約定書。</h5>

                                <h5>第十四條</h5> 
                                <h5>若有疑問，請至本網站客服中心詢問。</h5>

                                <h5>第十五條</h5>
                                <h5>其他未盡訴之事項，依中華民國法律之相關規定之。</h5>

                                <h5>客戶資料蒐集目的及方式</h5>
                                <h5>我們擁有您的個人資料，來自天GO等通路之會員，或在我們進行其他行銷活動中取得。 
                                　當您註冊成為我們會員時，我們將擁有您的個人資料包括姓名、地址、電話、電子郵件、身分證字號或護照號碼(外國人) 、性別、出生年月日等資訊。</h5>

                                <h5>客戶資料儲存及保管（利用期間、地區、對象及方式）
                                　(一) 期間：本公司營運期間。
                                　(二) 地區：消費者之個人資料將用於台灣地區。
                                　(三) 利用對象及方式：消費者之個人資料蒐集除用於本公司之會員管理、客戶管理之檢索查詢等功能外，將有以下利用：
                                　　　(1)物品寄送：於交寄相關商品時，將消費者個人資料利用於交付給相關物流、郵寄廠商用於物品寄送之目的。
                                　　　(2)行銷：本公司將利用消費者之地址及郵件、電話號碼進行本公司或合作廠商商品之宣傳行銷。
                                　　　　您的個人資料均被嚴密地保存在本公司的資料庫系統中。 同時，任何人均需在本公司訂定之資料
                                　　　　授權管理規範下，進行資料之取得與使用 ，而不在授權範圍內之任何人，均不得亦無法通過授權控管系統而取得資料。</h5>

                                <h5>資料安全及保護方法</h5>
                                <h5>您的個資由本網站傳輸回本公司資料庫時，我們以通行標準的Secure Sockets Layer(SSL) 機制(128bit)保全系統，進行資料傳輸加密，保障資料傳送的安全性，同時我們也將盡力以合理的技術及程序，保護您所有個人資料的安全。</h5>

                                <h5>客戶資料的運用及目的</h5>
                                <h5>為提供您更完整、更多元且優惠的商品或服務，您在本網站所註冊的資料，僅有基本資料得在各子公司間為進行聯合銷售時交互運用與揭露之運用，本公司依據相關的法律規定，不會向任何其他第三人揭露、出租、出售或轉讓或移作其他目的使用。</h5>

                                <h5>客戶資料變更修改</h5>
                                <h5>如果您的個人資料有變更，除經發現有偽冒、詐欺等疑慮者外，可於「我的帳戶」中進行資料的修改（姓名、住址、電話、電子信箱等）。</h5>

                                <h5>Cookie</h5>
                                <h5>為了提供更適合您需要的服務，我們會使用Cookie的技術，接收並且記錄您瀏覽器上的伺服器數值，包括IP Address、Cookies，這些資料的使用用途為：改進為你提供的廣告及網頁內容、完成你對某項產品的要求及通知你特別活動或新產品及網路服務優化有關的工作時使用。</h5>

                                <h5>隱私權保護政策的例外</h5>
                                <h5>若我們發現使用者因犯罪嫌疑，經司法機關依法偵查時，本網站將協助配合，並提供使用者之相關資料。</h5>

                                <h5>隱私權保障條款的修正權力</h5>
                                <h5>我們將因應科技發展趨勢、相關法規之修訂或其他環境變遷等因素而對本網站隱私權保護作適當之修改，以落實保障使用者隱私權之立意。本公司為保護客戶隱私，有權修改這份公告聲明。 </h5>
                            </div>
                            <div class="col-md-12 button-sign-in">
                                <h5 ng-click="returnContents()">返回</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 " ng-hide="startContentsModel" ng-model="brin">

                            <h4 class="text-center">第一次購物 THE FIRST SHOPPING</h4>

                            <!-- first buy -->
                            <div class="col-sm-12" ng-hide="showLoginbutton">
                                <div class="col-sm-6 deletepad">
                                    直接購物，在購物車填寫個人資料，系統將自動為您升級為會員。
                                </div>
                                <div class="col-sm-6 deletepad">
                                    <div class="col-sm-12 text-center" ng-class="[buyButtonActive]">
                                        <h5 ng-click="buyDirectly(buyButtonActive)">我要直接購物</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- other time buy -->
                            <div class="col-sm-12" style="margin-top: 20px;" ng-show="showLoginbutton">
                                <h5 class="text-center" style="letter-spacing: 3px;">不用先註冊,只要您完成購物流程,<br>系統將自動為您升級為會員。</h5>
                                <hr style="margin-top: 35px;border-top: 1px solid #777;">
                            </div>

                            <!-- third party oauth login -->
                            <div class="col-sm-12">
                                <h5 style="letter-spacing: 8px;">可直接登入Google</h5>
                                <div class="login_detail_img">
                                    <!--<a href="/api/oauth/login/fb" target="_blank"><img class="img-rounded" src="/images/FB.png"></a>-->
                                    <a href="/api/oauth/login/google" target="_blank"><img class="img-rounded" src="/images/google.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" ng-click="button1Click()">{{buttonText1}}</button>
                <button type="button" class="btn btn-default btn-default" ng-click="button2Click()" ng-show="showButton2">{{buttonText2}}</button>
            </div>
        </div>
    </div>
</div>