
<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" >
    <div class="container-fluid" style="padding-right:0px; padding-left:0px;">
        <div style="background-color:#d8bab2  ;" class="group-heder">
            
            <a id="back" href="#!/">
                <img src="/images/logo.png" class="group-logo">
            </a>
            <!-- <h4 style="color:white; text-align:center; padding:25px; "><strong>{{title}}</strong></h4>   -->
  
        </div>
        <div class="col-xs-12" style="background-color:#FeFeFe; padding:0px;">
            <div class="col-xs-4">
                <a ng-click="active(0)" href="#home" aria-controls="home" role="tab" data-toggle="tab" style="{{style[0]}}"><h5 class="text-center">方案內容</h5></a>
            </div>
            <div class="col-xs-4"  style="border-right:1px solid; border-left:1px solid; border-color:#dddddd;" >
                <a ng-click="active(1)" href="#product" aria-controls="product" role="tab" data-toggle="tab" style=" {{style[1]}}"><h5 class="text-center">商品介紹</h5></a>
            </div>
            <div class="col-xs-4">
                <a ng-click="active(2)" href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab" style="{{style[2]}}"><h5 class="text-center">宅配資訊</h5></a>
            </div>
        </div>
    </div>
</nav>




