<div>	
	<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" >
	    <div class="container-fluid" style="padding-right:0px; padding-left:0px;">
	        <div style="background-color:#f02864; margin-top:-20px; height:60px; ">
	            <div style="height:90px;">
	            <h4 style="color:white; text-align:center; padding:25px; "><strong>付款結果</strong></h4>  
	            </div>    
	        </div>	        
	    </div>
	</nav>

	<div class="row text-center" style="margin-top: 100px">
		<div class="col-md-12">			
			<h3>交易失敗，請再次嘗試交易</h3>
			<img src="images/fail.png" style="height:210px; width=100%;" />				  
		</div>
	</div>
</div>